name: Run Test Suites
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2 
    - run: yarn
    - run: yarn test --coverage
    - run: bash <(curl -s https://codecov.io/bash)